---
title: Blog
feature: true
---

<section class="box special">
  <header class="major">
    <h2>태그: {{ page.title }}</h2>
    <p>태그 "{{ page.title }}"를 포함하는 블로그 기록물의 집합.</p>
  </header>
  <span class="image featured"><img src="/images/pic01.jpg" alt="" /></span>
</section>
<section class="box special features">
  {% for post in site.posts | %}
  {% if post.lang == "en" and post.tag == {{ page.title }} %}
  <div class="6u 12u(narrower)">
    <section class="box special">
      <span class="image featured">
        <img src="/images/posts/{{ post.image }}" alt="No Featured Image" />
      </span>
      <h3>{{ post.title }}</h3>
      <p>{{ post.description }}</p>
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button special">
          더 알아보기</a></li>
      </ul>
    </section>
  </div>
  {% endif %} {% endfor %}
</section>
