---
layout: null
show: false
---

<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <script src="https://kit.fontawesome.com/3beb87e8d7.js"></script>
  <title>{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js">
  </script><![endif]-->
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/ie8.css" />
  <![endif]-->
  <!--[if IE]><link rel="shortcut icon" href="/logos/favicon.io"><![endif]-->
  <link rel="icon" href="/logos/favicon.png">
  <link rel="apple-touch-icon" href="/logos/apple-touch-icon.png">
</head>

<body class="landing">
<div id="page-wrapper">
  <!-- Banner -->
  <section id="banner">
    <h2>{{ site.title }}</h2>
    <p>{{ site.description }}</p>
    <ul class="actions">
    <li><a href="/en/" class="button special">Move to English Site</a></li>
    <li><a href="/ko/" class="button special">한국어 누리집으로 이동</a></li>
    </ul>
  </section>
  <div class="box">
    <section class="box special">
      <header class="major">
        <h2>Introducing Me <br /> 저를 소개합니다</h2>
        <p>A Web Portfolio and Personal Blog<br />웹 포트폴리오와 개인 블로그</p>
      </header>
      <span class="image featured"><img src="/images/pic01.jpg" alt="" /></span>
    </section>
    <section class="box special features">
      <div class="features-row">
        <section>
          <span class="icon major fa-folder accent2"></span>
          <h3>Portfolio</h3>
          <p>Proceed to my English Portfolio via the button below: </p>
          <a href="/en/projects/" class="button special">Portfolio (ENG)</a>
        </section>
        <section>
          <span class="icon major fa-folder-open accent3"></span>
          <h3>포트폴리오</h3>
          <p>아래 버튼을 통해 한국어 포트폴리오로 이동하실 수 있습니다 :</p>
          <a href="/ko/projects/" class="button special">포트폴리오 (한국어)</a>
        </section>
      </div>
      <div class="features-row">
        <section>
          <span class="icon major fa-edit accent4"></span>
          <h3>Blog</h3>
          <p>Proceed to my English Blog via the button below: </p>
          <a href="/en/blog/" class="button special">Blog (ENG)</a>
        </section>
        <section>
          <span class="icon major fa-pen-square accent5"></span>
          <h3>블로그</h3>
          <p>아래 버튼을 통해 한국어 블로그로 이동하실 수 있습니다 :</p>
          <a href="/ko/blog/" class="button special">블로그 (한국어)</a>
        </section>
      </div>
    </section>
  </div>
  <!-- CTA
  <section id="cta">
    <h2>Sign up for beta access</h2>
    <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>
    <form>
      <div class="row uniform 50%">
        <div class="8u 12u(mobilep)">
          <input type="email" name="email" id="email" placeholder="Email Address" />
        </div>
        <div class="4u 12u(mobilep)">
          <input type="submit" value="Sign Up" class="fit" />
        </div>
      </div>
    </form>
  </section>
  -->
  <!-- Footer -->
  <footer id="footer">
    <ul class="icons">
      {% if site.facebook_url %}
      <li><a href="{{ site.facebook_url}}" class="icon fa-facebook">
        <span class="label">Facebook</span></a></li>
      {% endif %}
      {% if site.instagram_url %}
      <li><a href="{{ site.instagram_url}}" class="icon fa-instagram">
        <span class="label">Instagram</span></a></li>
      {% endif %}
      {% if site.github_url %}
      <li><a href="{{ site.github_url}}" class="icon fa-github">
        <span class="label">Github</span></a></li>
      {% endif %}
      {% if site.linkedin_url %}
      <li><a href="{{ site.linkedin_url}}" class="icon fa-linkedin">
        <span class="label">LinkedIn</span></a></li>
      {% endif %}
    </ul>
    <ul class="copyright">
      <li>&copy; {{ site.title }}. All rights reserved.</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      <li>Jekyll integration: <a href="http://andrewbanchi.ch">Andrew Banchich</a></li>
    </ul>
    이 페이지에는 네이버에서 제공한 나눔글꼴이 적용되어 있습니다.
  </footer>
</div>
<!-- Scripts -->
<script src="{{ site.home }}/assets/js/jquery.min.js"></script>
<script src="{{ site.home }}/assets/js/jquery.dropotron.min.js"></script>
<script src="{{ site.home }}/assets/js/jquery.scrollgress.min.js"></script>
<script src="{{ site.home }}/assets/js/skel.min.js"></script>
<script src="{{ site.home }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.home }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.home }}/assets/js/main.js"></script>

</body>
</html>
