<head>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <script src="https://kit.fontawesome.com/3beb87e8d7.js"></script>
  <title>{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js">
  </script><![endif]-->
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/ie8.css" />
  <![endif]-->
  <!--[if IE]><link rel="shortcut icon" href="/logos/favicon.io"><![endif]-->
  <link rel="icon" href="/logos/favicon.png">
  <link rel="apple-touch-icon" href="/logos/apple-touch-icon.png">
  </head>
