<nav id="nav">
  <ul>
    <li><a href="/{{ page.lang }}/">Home</a></li>
    <li>
      <a href="#" class="icon fa-angle-down">Menu</a>
      <ul>
        {% for item in site.pages %}
        {% if item.show and item.lang == page.lang %}
        <li><a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.name == "index.html" %}
          <ul>
            {% for sub in site.pages %}
            {% if sub.feature and sub.url contains item.url %}
            <li><a href="{{ sub.url }}">{{ sub.title }}</a></li>
            {% endif %} {% endfor %}
          </ul>
          {% else %}
          {% endif %}
        </li>
        {% endif %} {% endfor %}
      </ul>
    </li>
    {% if page.layout != "post" %}
      {% if page.lang == "ko" %}
      <li><a href="/en/{{ page.url | slice: 4, page.url.size }}"
        class="button">Change Language</a></li>
      {% else %}
      <li><a href="/ko/{{ page.url | slice: 4, page.url.size }}"
        class="button">언어 변경</a></li>
      {% endif %}
    {% else %}
    {% endif %}
  </ul>
</nav>
