<nav id="nav">
  <ul>
    <li><a href="{{ site.baseurl | prepend: site.url }}">Home</a></li>
    <li>
      <a href="#" class="icon fa-angle-down">Layouts</a>
      <ul>
        <li><a href="{{ site.home }}{{ page.lang }}/about">About Me</a></li>
        <!-- <li><a href="{{ site.home }}{{ page.lang }}/<++>"><++></a></li> -->
        <li><a href="{{ site.home }}{{ page.lang }}/projects">Projects</a>
          <ul>
            <li><a href="{{ site.home }}{{ page.lang }}/projects/<++>">Option One</a></li>
            <li><a href="{{ site.home }}{{ page.lang }}/projects/<++>">Option Two</a></li>
            <li><a href="{{ site.home }}{{ page.lang }}/projects/<++>">Option Three</a></li>
            <li><a href="{{ site.home }}{{ page.lang }}/projects/<++>">Option Four</a></li>
          </ul>
        </li>
      </ul>
    </li>
    {% if page.lang == "ko" %}
      <li><a href="{{ site.home }}en/" class="button">Change Language</a></li>
    {% else %}
      <li><a href="{{ site.home }}ko/" class="button">Change Language</a></li>
    {% endif %}
  </ul>
</nav>
