<nav id="nav">
  <ul>
    <li><a href="/{{ page.lang }}/">Home</a></li>
    <li>
      <a href="#" class="icon fa-angle-down">Menu</a>
      <ul>
        {% for item in site.data.navigation %}
        <li><a href="/{{ page.lang }}/{{ item.link }}">{{ item.title }}</a>
          {% if item.submenu[0] %}
          <ul>
            {% for sub in item.submenu %}
            <li><a href="/{{ page.lang }}/{{ item.link }}{{ sub.link }}">{{ sub.title }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </li>
    {% if page.lang == "ko" %}
      <li><a href="{{ site.home }}en/" class="button">Change Language</a></li>
    {% else %}
      <li><a href="{{ site.home }}ko/" class="button">Change Language</a></li>
    {% endif %}
  </ul>
</nav>
